* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 8px 0px;
    border-bottom: 1px solid #ccc;

}

.serc {}

.s-form {
    position: relative;
}

.s-form input {
    padding: 8px 0px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 200px;
    padding-left: 30px;

}

.s-form i {
    position: absolute;
    left: 16px;
    bottom: 12px;
    color: #ccc;

}

.logo h2 {
    font-size: 25px;
    font-weight: 700;
    color: black;
    line-height: 40px;
}

.so-icon {
    line-height: 40px;
}

.so-icon i {
    color: black;
    margin-right: 16px;
    text-align: end;
}2
.bars {
    text-align: right;
    line-height: 40px;
}
.bars span{
    width: 30px;height: 2px;background-color: black; display: inline-block;position: relative;
}
.bars span::after{
   content: ''; width: 30px;height: 2px;background-color: black; display:block;position: absolute;top:-8px;transition: .3s;
}
.bars span::before{
    content: ''; width: 30px;height: 2px;background-color: black; display:block;position: absolute;top:8px;transition: .3s;
 }
 .bars:hover span::after{
     transform: translateY(3px);transition: .3s;
 }
 .bars:hover span::before{
    transform: translateY(-3px);transition: .3s;
}

#sid-menu{
    background-color: rgb(253, 250, 250);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    padding:0;
    transition: .5s;

    
}
.extra{
    width: 230px !important;
    padding: 16px 19px !important;
    z-index: 99;
    box-shadow: 0px -10px 10px 3px rgb(180, 179, 179);
    transition: .5s;
}
#sid-menu .menubar ul li{
    list-style: none; margin-bottom: 8px;
}
#sid-menu .menubar ul li a{
  color: black;
  font-size: 16px;
}
#sid-menu .menubar ul li:hover a{
    color: red;
}
#tranding {
    width: 100%;
    background-color: #fff;
    padding: 100px 0px;
}

.t-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 50px;

}
.t-left img{
    border-radius: 16px;
}
.t-right{
    padding: 20px;
    border-right: 1px solid #ccc;
}
.t-right a h6 {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.t-right span {
    color: #ccc;
}

.t-right a h2 {
    font-size: 30px;
    color: black;
    line-height: 1.3;
    margin: 16px 0x;
    font-weight: 700;
}
.t-right p{
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
  
}

.profile img {
    width: 80px !important;
    border-radius: 100%;
    display: inline-block;
}
.f-title a h6{
    color: black;
    font-size: 16px;

}
.f-title p{
    color: #ccc;
    font-size: 14px;

}
.f-title{
    margin-top: 20px;
    margin-left: 16px;
}
.owl-nav{
    display: none;
}
#galary{
    width: 100%;
    background-color: #fff;
    padding: 100px 0px;
}
.g-item a h6{
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.g-item span {
    color: #ccc;
}

.g-item a h2 {
    font-size: 20px;
    color: black;
    line-height: 1.3;
    margin: 16px 0x;
    font-weight: 700;
}
.g-item img{
    border-radius: 12px;
    margin-bottom: 20px;
}
.profile img{
    border-radius: 100% !important;
}
.g-item p{
    font-size: 14px;
    color: #ccc;
}
#slider2{
    width: 100%;
    background-color: #fff;
    padding: 100px 0px;
}
#slider2 .g-item img{
    max-width: 100% !important;
    height: auto !important;
}
#slider2 .owl-item {
    max-width:800px !important;
    height: auto !important;
}
#slider2 .g-item{
    padding: 20px;
}
#f-top{
    width: 100%;
    background-color: #fff;

}
#f-top .g-item a h2{
font-size: 16px !important;
}
#f-top .g-item a h6{
    font-size: 14px;
}
#f-top .g-item img{
    width: 60px !important;
    height: auto;
}
#f-top .g-item .f-title a h6{
    font-size: 12px !important;
}
#f-top .g-item .f-title p{
    font-size: 10px !;
}

footer{
    width: 100%;
    background-color: #fff;
    padding: 100px 0px;
}
.subscribe h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
}
.f-bg{
    background-color: #ccc;
    padding: 50px 20px;
    width: 100%;
}
.sub-form input{
    width: 550px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.d-flex button {
    background-color: #f79918;;
    border: none;
    padding: 10px;
    width: 300px;
    margin-left: 50px;
    border-radius: 30px;
}
.d-flex button a{
    color: black;
    font-size: 16px;
}
.d-flex button:hover{
    background-color: #fff;
    color: black;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.f-so-icon{
    text-align: center;
    padding: 50px 0px;
}
.f-so-icon i{
    width: 50px;
    height: 50px;
    background-color: #ddd;
    margin-right: 16px;
    line-height: 50px;
    border-radius: 100%;
}
.copyright p{
    text-align: center;color: #ccc;
}
.t-pro{
    text-align: center;
    padding: 50px 0px;
    width: 100%;
    background-color: #fff;
}
.t-pro img{
    width: 80px ;height: auto;border-radius: 100%;
}
.si-title h2{
    font-size:40px;
    color: black;
    line-height: 1.3;
    margin: 16px 0x;
    font-weight: 700;
}
.si-title p{
    font-size: 18px;color: #ccc; margin-top: 16px;
}
#se-img{
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#se-img .sig-image img{
    max-width: 100% !important; height: auto;border-radius: 8px; margin-bottom: 16px;
}
.sig-image p{
    font-size: 18px; color: #ccc;padding: 0px 150px;text-align: start;
}
.b-center p{
    font-size: 19px; color: #ccc;text-align: start !important;;padding: 0px 150px !important; font-style: italic;
}

.line{
    width: 1px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 134px;
    bottom: 0;
}
.b-center{
    position: relative;
}

.with{
    width: 950px;
    height: auto;
    margin: auto;
}
.shear span{
    font-size: 18px;
    color: #ccc;
}

.re-left img{
    max-width: 100%;
    border-radius: 16px;
}
#related{
    width: 100%;
    background-color: #fff;
    padding: 60px 0px;
}
.re-title h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}
.re-title h6{
    font-size: 20px;
    color:#aaaaaa;
    margin-bottom: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.page-item{
    border: none !important;
}
.text-center{
    text-align: center !important;
   
    display:inline-block;
}
.sli-title h2{
    text-align: center;font-size: 40px;font-weight: 700;margin-bottom: 16px;
}